<ul class="listing">
	{% for item in include.listings %}
		<li>
					<div class="category-buttons">
						{% for category in item.categories %}
							<a class="cate-{{category}}" href="{{ site.baseurl }}/category/{{ category }}/">
								{{ category | replace: "-", " " }}
							</a>
						{% endfor %}
					</div>

					<h3><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h3>

					<div class="lighter-color">{{ item.description }}</div>

					<div class="tag-buttons">
						{% assign number_of_tags = item.tags | size %}
						{% if number_of_tags > 0 %}
							{% if number_of_tags == 1 %}
								<span class="lighter-color one-tag">Tag:<span>
							{% else %}
								<span class="lighter-color">Tags:<span>
							{% endif %}

							{% for tag in item.tags %}
								<a class="tag-{{tag}}" href="{{ site.baseurl }}/tag/{{ tag }}/">
									<code>{{ tag }}</code>
								</a>
							{% endfor %}
						{% endif%}
					</div>
		</li>
	{% endfor %}
</ul>
