.count {
	color: $light-grey;
	font-size: .7em;
	position: relative;
	top: -2px;
}

.tutorial {
	display: flex;

	.tag-buttons {
	  border-bottom: 1px solid #999;
	}

	h2 {
		margin-top: 40px;
	}

	.sidebar {
		display: none;
		padding: 0 20px 0 0;
		position: absolute;
    top: 85px;
		width: 200px;

		@media #{$mid-point} {
			display: block;
		}

		h3 {
			margin-top: 0;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				margin: 0 0 15px 0;
			}
		}

		a {
			color: $medium-grey;
			text-decoration: none;
			display: block;
			-webkit-transition: transform .2s ease;
			line-height: 1.3em;

			&.active {
				color: $link-color;
				transform: translateX(10px);
			}
		}
	}

	.tutorial-content {
		width: 100%;

		@media #{$mid-point} {
			margin-left: 230px;
		}

		h1 {
			margin: .2em 0;
		}
	}
}

.listing {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: wrap;

	li {
		margin: 10px 0;
		padding: 0;
		width: 100%;
		@media #{$mid-point} {
			flex: 0 0 50%;
		}
	}

	h3 {
		margin-top: .2em;
		font-size: 1.3em;
	}

	a {
		text-decoration: none;
		border-radius: 5px;
		height: 100%;
	}

	.lighter-color {
		color: #888;
	}
}

.category-buttons {
	font-family: sans-serif;
  margin:0 0 0 0;
}
.category-buttons a {
  display:inline-block;
  font-size: .8em;
  text-decoration:none;
  text-transform:capitalize;
  border:1px solid #999;
  padding:6px 8px;
  line-height:1em;
  border-radius:3px;
  margin:0 5px 0 0;
}
.category-buttons a:hover {
  background:#f6f6f6;
}

.tag-buttons {
  margin:0 0 1em 0;
  padding-bottom: .2em;
}

.tag-buttons a {
  font-size:1em;
  text-decoration:none;
  line-height:1em;
  margin:0 5px 0 0;
}
.tag-buttons a:hover code {
  background: #4f4f4f;
}