---
layout: default
---

<section class="tutorial">
	<section class="sidebar sticky">
		<ul>
		</ul>
	</section>
	<section class="tutorial-content">
		<div class="category-buttons">
			{% for category in page.categories %}
				<a href="{{ site.baseurl }}/category/{{ category }}/">
					{{ category | replace: "-", " " }}
				</a>
			{% endfor %}
		</div>

		<h1>{{ page.title }}</h1>

		<div class="tag-buttons">
			{% assign number_of_tags = page.tags | size %}
			{% if number_of_tags > 0 %}
				Tags: 
				{% for tag in page.tags %}
					<a href="{{ site.baseurl }}/tag/{{ tag }}/">
						<code>{{ tag }}</code>
					</a>
				{% endfor %}
			{% endif%}
		</div>
		
		<div class="tutorial-main">
			{{ content }}
		</div>
	</section>
</section>

{% if site.disqus_shortname and page.comments %}
	<div id="disqus_thread"></div>
	<script>
		var disqus_shortname = '{{ site.disqus_shortname }}';
		var disqus_config = function () {
			this.page.url = "{{ page.url | prepend: site.url }}";
			this.page.identifier = "{{ page.id }}";
		};
		(function() {  // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

<script>
	var headings = document.querySelectorAll("h2[id]");

	for (var i = 0; i < headings.length; i++) {

		// generate lists of heading in sidebar
		var sidebarListItem = document.createElement("li");
		var sidebarAnchorLink = document.createElement("a");
		sidebarAnchorLink.innerText = headings[i].innerText;
		sidebarAnchorLink.href = "#" + headings[i].id;
		sidebarListItem.appendChild(sidebarAnchorLink);
		$(".sidebar ul").append(sidebarListItem);

		// generate anchor link for each heading
		var anchorLink = document.createElement("a");
		anchorLink.innerText = "#";
		anchorLink.href = "#" + headings[i].id;
		anchorLink.classList.add("header-link");
		headings[i].appendChild(anchorLink);
	}

</script>

<script src="{{ site.baseurl }}/js/main.js"></script>